logs/

run/

npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/

*.sw*
*.un~
dump.rdb
*.hashed.*
*.min.*
*.debug.*
app/assets.json

config/config.sequelize.js

.idea/

.DS_Store